/* ##########
#######*******
&&&&&& */


	body {

		background-color: turquoise;
		background-image: url("img/ocean.jpg");
		background-repeat: no-repeat;

	}

	h1 {
		font-family: "Papyrus", Monaco, monospace;
		font-size: 84pt;
		color: black;
		text-align: center;
		font-variant: small-caps;
	}

	h2 {
		font-family: "Courier New", Monaco, monospace;
		font-size: 16pt;
		color: dimgrey;
		text-align: center;
	}

	body {
		font-family: "Courier New Bold", Monaco, monospace;
		font-size: 14pt;
		color: black;
		text-align: center;
		text-shadow: 1px 0.5px black;

	}

	ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  opacity: .6;
}

li {
  float: left;

}

li a {
  display: inline;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

	div {

		display: block;
		width: 300px;
		padding: 30px;
		border: 5px solid white;
		margin: 20px;
		text-align: center;
		background-color: white;
		background-color: rgba(255,255,255,0.5);

		



	}

	.center-div {
		margin: 0 auto;
     width: 300px; 
	}

	
		



	
